<template class="task-template">
  <section id="barcode-section" class="section js-section u-category-media">
    <header class="section-header">
      <div class="section-wrapper">
        <h1 id="barcode-result"></h1>
      </div>
    </header>

    <script type="text/javascript">
      require('./renderer-process/barcode-serial/show-barcode')
    </script>

  </section>
</template>
