<div class="panel task db mbm">
    <div class="panel-body">
        <p class="icon">
            <i class="icon fa fa-signal"></i>
        </p>
        <h4 class="value">
            <span>{{$root.status.CONTAINER_NUM.value}}</span>
        </h4>
        <p class="description">창고 갯수</p>
        <!-- <div class="progress progress-sm mbn">
<div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" class="progress-bar progress-bar-danger"><span class="sr-only">50% Complete (success)</span></div>
</div> -->
    </div>
</div>
