<div class="panel visit db mbm">
    <div class="panel-body">
        <p class="icon">
            <i class="icon fa fa-group"></i>
        </p>
        <h4 class="value">
            <span>128</span>
        </h4>
        <p class="description">Visitor description</p>
        <div class="progress progress-sm mbn">
            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar progress-bar-warning" role="progressbar" style="width: 70%;">
                <span class="sr-only">70% Complete (success)</span>
            </div>
        </div>
    </div>
</div>
