<div class="portlet box">
    <div class="portlet-header">
        <div class="caption text-uppercase">Todo List</div>
    </div>
    <div class="portlet-body" style="overflow: hidden;">
        <ul class="todo-list sortable">
            <li class="clearfix">
                <span class="drag-drop">
                    <i></i>
                </span>
                <div class="todo-check pull-left">
                    <input type="checkbox" value=""/>
                </div>
                <div class="todo-title">Sed ut perspiciatis unde omnis iste</div>
                <div class="todo-actions pull-right clearfix">
                    <a class="todo-complete" href="javascript:void(0);">
                        <i class="fa fa-check"></i>
                    </a>
                    <a class="todo-edit" href="javascript:void(0);">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="todo-remove" href="javascript:void(0);">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>
            </li>
            <li class="clearfix">
                <span class="drag-drop">
                    <i></i>
                </span>
                <div class="todo-check pull-left">
                    <input type="checkbox" value=""/>
                </div>
                <div class="todo-title">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</div>
                <div class="todo-actions pull-right clearfix">
                    <a class="todo-complete" href="javascript:void(0);">
                        <i class="fa fa-check"></i>
                    </a>
                    <a class="todo-edit" href="javascript:void(0);">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="todo-remove" href="javascript:void(0);">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>
            </li>
            <li class="clearfix">
                <span class="drag-drop">
                    <i></i>
                </span>
                <div class="todo-check pull-left">
                    <input type="checkbox" value=""/>
                </div>
                <div class="todo-title">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id</div>
                <div class="todo-actions pull-right clearfix">
                    <a class="todo-complete" href="javascript:void(0);">
                        <i class="fa fa-check"></i>
                    </a>
                    <a class="todo-edit" href="javascript:void(0);">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="todo-remove" href="javascript:void(0);">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>
            </li>
            <li class="clearfix">
                <span class="drag-drop">
                    <i></i>
                </span>
                <div class="todo-check pull-left">
                    <input type="checkbox" value=""/>
                </div>
                <div class="todo-title">Et harum quidem rerum facilis est</div>
                <div class="todo-actions pull-right clearfix">
                    <a class="todo-complete" href="javascript:void(0);">
                        <i class="fa fa-check"></i>
                    </a>
                    <a class="todo-edit" href="javascript:void(0);">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="todo-remove" href="javascript:void(0);">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>
            </li>
            <li class="clearfix">
                <span class="drag-drop">
                    <i></i>
                </span>
                <div class="todo-check pull-left">
                    <input type="checkbox" value=""/>
                </div>
                <div class="todo-title">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</div>
                <div class="todo-actions pull-right clearfix">
                    <a class="todo-complete" href="javascript:void(0);">
                        <i class="fa fa-check"></i>
                    </a>
                    <a class="todo-edit" href="javascript:void(0);">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="todo-remove" href="javascript:void(0);">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>
            </li>
            <li class="clearfix">
                <span class="drag-drop">
                    <i></i>
                </span>
                <div class="todo-check pull-left">
                    <input type="checkbox" value=""/>
                </div>
                <div class="todo-title">Excepteur sint occaecat cupidatat non proident</div>
                <div class="todo-actions pull-right clearfix">
                    <a class="todo-complete" href="javascript:void(0);">
                        <i class="fa fa-check"></i>
                    </a>
                    <a class="todo-edit" href="javascript:void(0);">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="todo-remove" href="javascript:void(0);">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
