<div class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">{{title}}</div>
    </div>
    <ol class="breadcrumb page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>&nbsp;
            <a href="index.html">Home</a>&nbsp;&nbsp;
            <i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li ng-repeat="n in navigation" ng-class="{active: $last}">
            <a ui-sref="{{n.addr}}">{{n.title}}</a>&nbsp;&nbsp;
            <i class="fa fa-angle-right" ng-hide="$last"></i>&nbsp;&nbsp;</li>
    </ol>

    <div class="clearfix"></div>
</div>
