<div class="container-fluid">
  <div class="col-xs-12 text-center">
    <h1 style="font-family: 'Orbitron', sans-serif; font-size:7em; font-weight:600; color: white">냉각수 온도</h1>

  </div>
    <div class="col-xs-4">
        <h1 style="font-family: 'Orbitron', sans-serif; font-size:13em; font-weight:600; color: blue">IN</h1>
    </div>
    <div class="col-xs-8">
        <p class="bg-primary text-right">
            <span style="font-family: 'Orbitron', sans-serif; font-size:13em; font-weight:600;">{{inputTemp | number: 2}}
                <sup>°C</sup>
            </span>
        </p>

    </div>
    <div class="col-xs-4">
        <h1 style="font-family: 'Orbitron', sans-serif; font-size:13em; font-weight:600; color:red">OUT</h1>
    </div>
    <div class="col-xs-8 text-right">
        <p class="bg-danger" style="color: white; background:red;">
            <span style="font-family: 'Orbitron', sans-serif; font-size:13em; font-weight:600;">{{outputTemp | number: 2}}
                <sup>°C</sup>
            </span>
        </p>
    </div>
</div>
