<!-- {{vm.resource}} -->

<div class="modal-header">
    <h3 class="modal-title">{{vm.title}}</h3>
</div>
<div class="modal-body">
    {{vm.body}}
</div>
<div class="modal-footer">
    <!-- {{enter}} -->
    <div class="btn btn-danger" ng-click="vm.ok()">확인</div>
    <div class="btn btn-success" ng-click="vm.cancel()">취소</div>
</div>
