<nav class="navbar-default navbar-static-side" id="sidebar" role="navigation">

    <div class="sidebar-collapse menu-scroll">
        <ul class="nav admin-nav-main" id="side-menu" ng-menu="">

            <li access-level="user" class="user-panel">
                <div class="thumb"><img alt="" class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg"/></div>
                <div class="info">
                    <p>{{$root.currentUser.username}}</p>
                    <ul class="list-inline list-unstyled">
                        <li>
                            <a data-hover="tooltip" data-target="#modal-config" data-toggle="modal" href="javascript:void(0);" title="Setting">
                                <i class="fa fa-cog"></i>
                            </a>
                        </li>
                        <li>
                            <a data-hover="tooltip" title="Logout" ui-sref="extra-signin">
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li ng-show="$root.hub.production">
                <a ui-sref="hub.production">
                    <i class="fa fa-tachometer fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i>
                    <span class="menu-title">생산</span>
                </a>
            </li>

            <li access-level="user">
                <a ui-sref="hub.receive">
                    <i class="fa fa-truck">
                        <div class="icon-bg bg-orange"></div>
                    </i>
                    <span class="menu-title">인수</span>
                </a>
            </li>

            <li access-level="user">
                <a ui-sref="hub.assign">
                    <i class="fa fa-gear">
                        <div class="icon-bg bg-orange"></div>
                    </i>
                    <span class="menu-title">설정</span>
                </a>
            </li>
            <!--
            <li access-level="user">
                <a ui-sref="hub.float">
                    <i class="fa fa-file-o">
                        <div class="icon-bg bg-orange"></div>
                    </i>
                    <span class="menu-title">창고모드</span>
                </a>
            </li> -->

            <!-- <li access-level="user">
                <a ui-sref="hub.send">
                    <i class="fa fa-file-o">
                        <div class="icon-bg bg-orange"></div>
                    </i>
                    <span class="menu-title">인계</span>
                </a>
            </li> -->

            <!-- <li access-level="user" ng-show="$root.hub.production">
                <a ui-sref="hub.inject">
                    <i class="fa fa-file">
                        <div class="icon-bg bg-orange"></div>
                    </i>
                    <span class="menu-title">투입</span>
                </a>
            </li> -->

        </ul>
    </div>
</nav>
