<nav class="navbar navbar-default" data-intro="&lt;b&gt;Topbar&lt;/b&gt; has other styles with live demo. Go to &lt;b&gt;Layouts-&gt;Header&amp;Topbar&lt;/b&gt; and check it out." data-step="1" id="topbar" role="navigation" style="margin-bottom: 0;">
    <div class="navbar-header">
        <button class="navbar-toggle" data-target=".sidebar-collapse" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="public.main" id="logo">
            <span class="fa fa-rocket"></span>
            <span class="logo-text">{{vm.C.title}}</span>
            <span class="logo-text-icon" style="display: none">MA</span>
        </a>
    </div>
    <div class="topbar-main">
        <a id="menu-toggle" ng-click="header.collapse('k')">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="nav navbar navbar-top-links navbar-right mbn">
            <li>
                <input class="form-control" name="barcode" ng-model="barcode" placeholder="번들의 바코드를 입력해주세요" required type="text">
            </li>
            <li>
                <button class="btn btn-success" type="submit" ng-click="simulate(barcode)">확인
                    <i class="fa fa-chevron-circle-right"></i>
                </button>

            </li>
            <li>허브명:
                {{$root.hub.name}}
            </li>
            <li>생산 :
                {{$root.hub.production}}</li>
            <li ng-repeat="m in $root.hub.machine">
                장비 :
                {{m.resource_name}}
                {{m.name}}
            </li>

            <li access-level="anon">
                <a ui-sref="public.signin">로그인</a>
            </li>

            <li access-level="user" class="dropdown topbar-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img alt="" class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg"/>&nbsp;
                    <span class="hidden-xs">{{$root.currentUser.username}}</span>&nbsp;
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu dropdown-user pull-right">
                    <li access-level="user">
                        <a ui-sref="user.logout">
                            <i class="fa fa-key"></i>Log Out</a>
                    </li>
                </ul>
            </li>
            <!-- <li class="hidden-xs" id="topbar-chat">
                <a class="btn-chat" data-intro="&lt;b&gt;Form chat&lt;/b&gt; keep you connecting with other coworker" data-position="left" data-step="2" href="javascript:void(0)" ng-click="header.toggle('chat')">
                    <i class="fa fa-comments"></i>
                    <span class="badge badge-info">3</span>
                </a>
            </li> -->

        </ul>
    </div>
</nav>
